.ui {
        position: absolute;
        top: 0;
      }

      #chatPanel {
        width: 425px;
        height: 250px;
        margin-left: 15px;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        overflow: scroll;
      }

      #topButtons div {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
      }

      #topButtonSettings {
        margin-left: 15px;
      }

      #topButtonSettings img {
        position: relative;
        width: 35px;
        margin-left: 2.5px;
        margin-top: 8px;
        top: -4px;
      }

      #topButtonChat {
        margin-left: 5px;
        margin-top: 10px;
      }

      #chatForm {
        position: fixed;
        top: 265px;
        left: 30px;
      }

      #chatInput {
        width: 395px;
        height: 30px;
        outline: none;
        border: none;
        background: rgba(211, 211, 211, 0.5);
        border-radius: 10px;
        padding-left: 15px;
      }
      
      #chatInput::placeholder {
        color: rgb(50, 50, 50);
        font-size: 15px;
      }

      #messages {
        margin: 0;
        padding: 0;
        color: white;
        font-family: Arial, sans-serif;
        margin-left: 15px;
        margin-top: 15px;
        list-style: none;
      }
      
      #messages > li { 
        margin-top: 5px;
      }
