/* Shop */  

#shop-container {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: lightpink;
    position: absolute;
    top: 370px;
    transform: translateY(-50%);
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
  }

  #shop-container div {
    margin-top: 35px;
  }
